apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-microservice
  labels:
    app: fastapi-app
spec:
  replicas: 2
  selector: 
    matchLabels:      
      app: fastapi-app
  template:
    metadata:
      labels:
        app: fastapi-app
    spec:
      containers:
      - name: fastapi-container
        image: underdust/microservice-api:latest 
        imagePullPolicy: Always
        ports:
        - containerPort: 8000